<app-header></app-header>



<div class="container">


  <div class="tickets tickets__header">
    <div class="tickets__info">
      <div class="form-control tickets__info--m10">Перевозчик</div>
      <div class="form-control">Цена</div>
    </div>


    <div class="tickets__info">
      <div class="form-control tickets__info--m10">Откуда</div>
      <div class="form-control">Куда</div>
    </div>


    <div class="tickets__info">

      <div class="tickets__date">
        <div class="tickets__btn tickets__info--m10">Дата вылета</div>
        <div class="tickets__btn">Дата прилета</div>
      </div>

    </div>
  </div>


    <div  *ngFor="let ticket of ticketsArr">
      <a routerLink="edit/{{ ticket.id }}" class="tickets">
        <div class="tickets__info">
          <div class="form-control tickets__info--m10">{{ticket.carrier}}</div>
          <div class="form-control">{{ticket.price}}</div>
        </div>

        <div class="tickets__info">
          <div class="form-control tickets__info--m10">{{ticket.originName}}</div>
          <div class="form-control">{{ticket.destinationName}}</div>
        </div>

        <div class="tickets__info">

          <div class="tickets__date">
            <div class="tickets__btn tickets__info--m10">{{ticket.departureDate}}</div>
            <div class="tickets__btn">{{ticket.arrivalDate}}</div>
          </div>

        </div>
      </a>

    </div>

</div>
