.tickets {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  border: 1px solid #ced4da30;
  border-radius: .25rem;
  padding: 10px;
  background-color: #e3f2fd7a;
  &:hover {
    background: rgb(227, 242, 253);
  }
  &__header {
    background: #bccbd8a1;
    &:hover {
      background: #bccbd8a1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    &--m10 {
      margin-bottom: 10px;
    }
  }
  &__date {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
}


.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
