<app-header></app-header>

<div class="search">
  <div class="container">
    <div class="search__container ">
      <div class="search-choosebar">

        <div class="search-choosebar__container">
          <div class="search-choosebar__title">Валюта</div>

          <div class="search-choosebar__btn-group">
            <div class="btn-group custom-btn--prime" role="group" aria-label="Basic example">
              <button type="button" class="btn">GRN</button>
              <button type="button" class="btn">USD</button>
              <button type="button" class="btn">EUR</button>
            </div>
          </div>
        </div>

        <div class="search-choosebar__container">
          <div class="search-choosebar__title">Количество пересадок</div>

          <div class="search-choosebar__checkbox">
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                  <label class="custom-control-label" for="customControlAutosizing1">Все</label>
                </div>
              </li>

              <li class="list-group-item">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                  <label class="custom-control-label" for="customControlAutosizing2">Без пересадок</label>
                </div>
              </li>

              <li class="list-group-item">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing3">
                  <label class="custom-control-label" for="customControlAutosizing3">1 пересадка</label>
                </div>
              </li>

              <li class="list-group-item">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing4">
                  <label class="custom-control-label" for="customControlAutosizing4">2 пересадки</label>
                </div>
              </li>

              <li class="list-group-item">
                <div class="custom-control custom-checkbox mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlAutosizing5">
                  <label class="custom-control-label" for="customControlAutosizing5">3 пересадки</label>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="search-flyinfo">

      </div>
    </div>
  </div>
</div>
